<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta
name="viewport"
content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<link rel="icon" href="https://i.ibb.co/86bzmTg/seeloker.png" />
<!-- Bootstrap CSS -->
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous"
/>
<link
href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap"
rel="stylesheet"
/>
<link
href="https://fonts.googleapis.com/css?family=Cabin|PT+Sans&display=swap"
rel="stylesheet"
/>
<link rel="stylesheet" href="../static/style.css">
<title>Loker</title>
</head>

<nav class="navbar  sticky-top " style="background-color: rgb(255, 153, 0);">
  <a class="navbar-brand" href="/">
<img src="https://img.icons8.com/fluent/48/000000/order-delivered.png"
    width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
</nav>
<body style="padding: 30px; background-color: rgb(218, 235, 255);">
  <!-- Image and text -->
<!>
<div style="padding: 30px; border-radius: 10px;">
<div class="row">
<div class="col-md-3">
<a href="/">
<img
src="https://i.ibb.co/86bzmTg/seeloker.png"
style="
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
"
class="img-fluid"
alt=""
/>
</a>
</div>
<div class="col-md-9 m" style="margin-top: auto;">
<div class="form-group">
<input
id="text-search"
type="text"
class="form-control search-table"
style="padding: 25px;"
placeholder="Sortir disemua sumber"
aria-describedby="Keyword"
/>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-3 mt-3">
  <div style="background-color: rgb(255, 153, 0); padding: 10px;" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" >
<button type="submit" class="btn btn-warning " style="color: white; font-weight: bold;" > Populer </button>
<div class="card">
  <div class="card-body">
    
{% for i in populer %}
<a href="{{i.split(' | ')[1]}}" target="_blank">

  <span class="badge badge-{{randColor()}}">{{i.split(' | ')[0]}}</span>
  <br>
</a>

{% endfor %}
  </div>
</div>
</div>
<br>
<hr>


<div style="background-color: rgb(255, 153, 0); padding: 10px;" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" >
<h4 style="color: white;">Pilih Sumber</h4>
<div class="form-group">
<div class="form-group">
<select required name="db" class="form-control" id="">
<option disabled >Pilih Sumber</option>
<option value="jooble"> Jooble </option>
<option value="topkarir"> Topkarir </option>
<option value="jobstreet"> Job Street </option>
<option value="karir"> Karir </option>
<option value="lokerid"> Loker Id </option>
</select>
</div>
<input type="text" placeholder="Masukan Kata Kunci" class="form-control search-table" id="text-search" />
</div>
<hr style="color: white;">
</div>
</div>
<div class="col-sm-9 mt-3 ">
<table>
<tbody id="">
{% for i in jooble %}
<tr>
<td class="content">
<div
class="card"
style="box-shadow: 0px 0px 5px 0px rgba(184, 184, 184, 1);"
>
<div class="card-body">
<h4
style="margin-bottom: 0 !important;"
class="card-title"
>
{{ i.company }} 
<p style="display: none;"> {{ i.company.lower() }} </p>
<p style="display: none;"> {{ i.position.lower() }} </p>
</h4>
<p class="card-text" style="margin-top: 0 !important;">
{{ i.position }}
</p>
<p> {{ i.requirement }}                        </p>

{% if i.salary == '-' %}
<small>
<p> <b> Dibutuhkan Login untuk melihat Gaji </b> </p> 
</small>
{% else %}
<p> <b> {{ i.salary }} </b> </p> 
{% endif %}

<!--
</p> </b> <a href="{{i.link}}" class="btn btn-primary pop"target="_blank"  id="pop">Detail</a>
  Optional  -->
<form action="/populer" method="post">
  <input type="hidden" name="url" id="" value="{{i.link}}">
  <input type="hidden" name="position" id="" value="{{i.position}}">
  <button type="submit" class="btn btn-primary">Detail</button>
</form> 


<small class="float-right"> Sumber : Jooble</small>
  <small style="display: none;" class="float-right"> Sumber : jooble</small>
</div>
</div>
</td>
</tr>

{% endfor %}
{% for i in lokerid %}
<tr>
<td class="content">
<div
class="card"
style="box-shadow: 0px 0px 5px 0px rgba(184, 184, 184, 1);"
>
<div class="card-body">
<h4
style="margin-bottom: 0 !important;"
class="card-title"
>
<p style="display: none;">lokerid</p>
{{ i.company }}
<p style="display: none;"> {{ i.company.lower() }} </p>
<p style="display: none;"> {{ i.position.lower() }} </p>
</h4>
<p class="card-text" style="margin-top: 0 !important;">
{{ i.position }}
</p>
<p> {{ i.requirement }}                        </p>
{% if i.salary == '-' %}
<small>
<p> <b> Dibutuhkan Login untuk melihat Gaji </b> </p> 
</small>
{% else %}
<p> <b> {{ i.salary }} </b> </p> 
{% endif %}

<form action="/populer" method="post">
  <input type="hidden" name="url" id="" value="{{i.link}}">
  <input type="hidden" name="position" id="" value="{{i.position}}">
  <button type="submit" class="btn btn-primary">Detail</button>
</form> 

<small class="float-right"> Sumber : Loker Id</small>
</div>
</div>
</td>
</tr>

{% endfor %}
{% for i in karir %}
<tr>
<td class="content">
<div
class="card"
style="box-shadow: 0px 0px 5px 0px rgba(184, 184, 184, 1);"
>
<div class="card-body">
<h4
style="margin-bottom: 0 !important;"
class="card-title"
>
<p style="display: none;">karir</p>
{{ i.company }}
<p style="display: none;"> {{ i.company.lower() }} </p>
<p style="display: none;"> {{ i.position.lower() }} </p>
</h4>
<p class="card-text" style="margin-top: 0 !important;">
{{ i.position }}
</p>
<p>
{{ i.requirement }}
</p>
{% if i.salary == '-' %}
<small>
<p> <b> Dibutuhkan Login untuk melihat Gaji </b> </p> 
</small>
{% else %}
<p> <b> {{ i.salary }} </b> </p> 
{% endif %}
<form action="/populer" method="post">
  <input type="hidden" name="url" id="" value="{{i.link}}">
  <input type="hidden" name="position" id="" value="{{i.position}}">
  <button type="submit" class="btn btn-primary">Detail</button>
</form> 


<small class="float-right"> Sumber : Karir</small>
</div>
</div>
</td>
</tr>
</tbody>
{% endfor %}
{% for i in topkarir %}
<tr>
<td class="content">
<div
class="card"
style="box-shadow: 0px 0px 5px 0px rgba(184, 184, 184, 1);"
>
<div class="card-body">
<h4
style="margin-bottom: 0 !important;"
class="card-title"
>
<p style="display:none">topkarir</p>
{{ i.company }}
<p style="display: none;"> {{ i.company.lower() }} </p>
<p style="display: none;"> {{ i.position.lower() }} </p>
</h4>
<p class="card-text" style="margin-top: 0 !important;">
{{ i.position }}
</p>
<p>
{{ i.requirement }}
</p>

{% if i.salary == '-' %}
<small>
<p> <b> Dibutuhkan Login untuk melihat Gaji </b> </p> 
</small>
{% else %}
<p> <b> {{ i.salary }} </b> </p> 
{% endif %}
<form action="/populer" method="post">
  <input type="hidden" name="url" id="" value="{{i.link}}">
  <input type="hidden" name="position" id="" value="{{i.position}}">
  <button type="submit" class="btn btn-primary">Detail</button>
</form> 


<small class="float-right"> Sumber : Top Karir</small>
</div>
</div>
</td>
</tr>
</tbody>
{% endfor %}
{% for i in jobstreet %}
<tr>
<td class="content">
<div
class="card"
style="box-shadow: 0px 0px 5px 0px rgba(184, 184, 184, 1);"
>
<div class="card-body">
<h4
style="margin-bottom: 0 !important;"
class="card-title"
>
<p style="display:none">jobstreet</p>
{{ i.company }}
<p style="display: none;"> {{ i.company.lower() }} </p>
<p style="display: none;"> {{ i.position.lower() }} </p>
</h4>
<p class="card-text" style="margin-top: 0 !important;">
{{ i.position }}
</p>
<p>
{{ i.requirement }}
</p>
{% if i.salary == '-' %}
<small>
<p> <b> Dibutuhkan Login untuk melihat Gaji </b> </p> 
</small>
{% else %}
<p> <b> {{ i.salary }} </b> </p> 
{% endif %}
<form action="/populer" method="post">
  <input type="hidden" name="url" id="" value="{{i.link}}">
  <input type="hidden" name="position" id="" value="{{i.position}}">
  <button type="submit" class="btn btn-primary">Detail</button>
</form> 

  
<small class="float-right"> Sumber : Jobstreet</small>
</div>
</div>
</td>
</tr>
</tbody>
{% endfor %}

</table>
</div>
</div>
</div>

<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"
></script>

<script src="../static/myJs.js"></script>
</body>
</html>
